@media screen and (min-width: 768px) {


    header {

        display: flex;
        justify-content: space-between;
        align-items: center;

    }


    #menu {

        display: none;

    }


    nav {

        display: flex;
        flex-direction: row;
        gap: 25px;
        margin-top: 0;

    }


    #navigation {

        display: flex;
        flex-direction: row;
        gap: 25px;

    }


    .gallery {

        grid-template-columns: repeat(3, 1fr);
        gap: 25px;

    }


    figure img {

        height: 250px;
        object-fit: cover;

    }


}