*{

box-sizing:border-box;

}



body{

font-family:Arial, Helvetica, sans-serif;

margin:0;

background:#f1f5f9;

color:#222;

}



header{

background:#003049;

color:white;

padding:20px;

text-align:center;

}



main{

max-width:650px;

margin:30px auto;

padding:20px;

}



form{

background:white;

padding:25px;

border-radius:12px;

box-shadow:0 3px 10px rgba(0,0,0,0.2);

}



fieldset{

border:none;

}



legend{

font-size:1.5rem;

font-weight:bold;

}



label{

display:block;

margin-top:15px;

font-weight:bold;

}



.required{

color:red;

}



input,
select,
textarea{

width:100%;

padding:12px;

margin-top:5px;

border:1px solid #777;

border-radius:5px;

}



textarea{

height:120px;

resize:none;

}



.rating label{

display:inline-block;

font-size:2rem;

cursor:pointer;

}



.rating input{

width:auto;

}



input[type="checkbox"]{

width:auto;

margin-right:8px;

}



input[type="radio"]{

width:auto;

}



input[type="submit"]{


background:#006d77;

color:white;

border:none;

font-size:1rem;

cursor:pointer;

margin-top:25px;


}



input[type="submit"]:hover{

background:#004d55;

}



footer{

background:#003049;

color:white;

text-align:center;

padding:15px;

margin-top:30px;

}


@media(max-width:600px){


main{

margin:10px;

padding:10px;

}


form{

padding:15px;

}


}