@media screen and (min-width: 768px) {


    /* HEADER */

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    #menu {
        display: none;
    }


    /* NAVIGATION */

    #navigation {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 0;
    }


    #navigation:not(.open) {
        display: flex;
    }



    /* GALLERY */

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }



    /* IMAGE SIZE */

    figure img {
        height: 250px;
        object-fit: cover;
    }

}