@media screen and (min-width: 768px) {


    /* Hide mobile menu button */

    #menu {
        display: none;
    }


    /* Desktop Navigation */
    .navigation {

        display: flex;

        flex-direction: row;

        justify-content: center;

        gap: 20px;

    }


    /* Temple Album Grid */
    .gallery {

        grid-template-columns: repeat(3, 1fr);

        gap: 25px;

    }


    /* Image consistency */
    figure img {

        height: 250px;

        object-fit: cover;

    }


}
